Repository astrohsy/ZETCH, pull requests merged in 2022-10, with the labels that each got.

#51 ci: add Lombok to entities and dtos
  .github/workflows/build.yaml
  api_server/lombok.config
  api_server/pom.xml
  api_server/src/main/java/io/zetch/app/domain/BaseEntity.java
  api_server/src/main/java/io/zetch/app/domain/Restaurant.java
  api_server/src/main/java/io/zetch/app/domain/RestaurantDto.java
  api_server/src/main/java/io/zetch/app/domain/User.java
  api_server/src/main/java/io/zetch/app/domain/UserDto.java
  api_server/src/main/java/io/zetch/app/domain/restaurant/RestaurantDto.java
  api_server/src/main/java/io/zetch/app/domain/restaurant/RestaurantEntity.java
  api_server/src/main/java/io/zetch/app/domain/user/UserDto.java
  api_server/src/main/java/io/zetch/app/domain/user/UserEntity.java
  api_server/src/main/java/io/zetch/app/repo/RestaurantRepository.java
  api_server/src/main/java/io/zetch/app/repo/UserRepository.java
  api_server/src/main/java/io/zetch/app/security/SecurityConfig.java
  api_server/src/main/java/io/zetch/app/service/RestaurantService.java
  api_server/src/main/java/io/zetch/app/service/UserService.java
  api_server/src/main/java/io/zetch/app/web/RestaurantController.java
  api_server/src/main/java/io/zetch/app/web/UserController.java
  api_server/src/test/java/io/zetch/app/domain/BaseEntityTest.java
  api_server/src/test/java/io/zetch/app/domain/RestaurantTest.java
  api_server/src/test/java/io/zetch/app/domain/UserTest.java
  api_server/src/test/java/io/zetch/app/service/RestaurantServiceTest.java
  api_server/src/test/java/io/zetch/app/service/UserServiceTest.java
  api_server/src/test/java/io/zetch/app/web/RestaurantControllerTest.java
  api_server/src/test/java/io/zetch/app/web/UserControllerTest.java
Labels: enhancement

#72 fix: fix duplicate displayName setting in User seeding
  api_server/src/main/java/io/zetch/app/seed/SeedUsers.java
Labels: bug

#70 feat: add logging functionality
  api_server/src/main/java/io/zetch/app/domain/log/LogEntity.java
  api_server/src/main/java/io/zetch/app/interceptor/InterceptorConfig.java
  api_server/src/main/java/io/zetch/app/interceptor/LogInterceptor.java
  api_server/src/main/java/io/zetch/app/repo/LogRepository.java
  api_server/src/main/java/io/zetch/app/security/SecurityService.java
  api_server/src/main/java/io/zetch/app/web/LogController.java
  api_server/src/test/java/io/zetch/app/interceptor/LogInterceptorTest.java
  api_server/src/test/java/io/zetch/app/security/SecurityServiceTest.java
  api_server/src/test/java/io/zetch/app/web/LogControllerTest.java
Labels: api

#89 fix: add ids to User and Location Get dtos
  api_server/src/main/java/io/zetch/app/domain/location/LocationEntity.java
  api_server/src/main/java/io/zetch/app/domain/user/UserEntity.java
  api_server/src/main/java/io/zetch/app/domain/user/UserGetDto.java
  api_server/src/main/java/io/zetch/app/web/LocationController.java
  api_server/src/main/java/io/zetch/app/web/UserController.java
  api_server/src/test/java/io/zetch/app/web/LocationControllerTest.java
  api_server/src/test/java/io/zetch/app/web/UserControllerTest.java
Labels: api
